backend/tests/testing_lang/.env
/backend/tests/testing_lang/__pycache__
backend/tests/testing_placesapi/.env
*.pyc
backend/data/config/firebase-service-account.json
.dart_tool/
.env
palate-cve8jj-firebase-adminsdk-fbsvc-a68084b529.json