backend/tests/testing_lang/.env
/backend/tests/testing_lang/__pycache__
backend/tests/testing_placesapi/.env
*.pyc
backend/data/config/firebase-service-account.json
.dart_tool/
.env
palate-mvp-c892022b8347.json
/backend/api_search/.venvas
backend/api_search/firebase-service.json
backend/api_search/Dockerfile
backend/api_search/.env.yaml
backend/api_search/firebase-key.json
/backend/api_search/.venv
